.header { border-bottom: 1px solid #e7e9fc; }

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Дозволяє навігації займати місце, виштовхуючи контакти */
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: #2e2f42;
}

.header-contacts { font-style: normal; }

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  color: #434455;
  padding: 24px 0;
  display: block;
}
