.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  align-items: center; /* Выравнивает всё по вертикали */
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px; /* Отступ от логотипа до навигации */
}

.header-menu-list {
  display: flex;
  gap: 40px; /* Расстояние между ссылками */
}

.nav-link {
  display: block;
  padding: 24px 0; /* Создает высоту хедера */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-contacts {
  font-style: normal;
  margin-left: auto; /* Выталкивает контакты в правую часть хедера */
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
