.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px; /* Отступ между карточками */
}

.team-item {
  background-color: #ffffff;
  /* 4 карточки в ряду: (100% - 3 отступа по 24px) / 4 */
  width: calc((100% - 72px) / 4); 
}

.team-card-content {
  padding: 32px 0;
  text-align: center;
}
